<footer id="footerEntire" class="text-center text-muted w-100 mt-auto fixed-bottom">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <p>
        <style>
            #footerEntire {
                background-color: #EBEBEB;
            }
        </style>

        &copy; Copyright 2024 : Group 016-4: Justin Costa, Jacob Lewis, Anika Nagpal, Alina Skowronek, Andrew Webber

    </p>
</footer>
</body>

</html>