#map {
    width: 50vw; /* Makes it scale to the container's width */
    height: 90vh; /* Adjust height as needed */
}

#footerEntire {
    background-color: antiquewhite;
}

/* Optional: make it responsive on smaller screens */
@media (max-width: 768px) {
    #map {
        height: 300px; /* Adjust for smaller screens */
    }
}


.map-container {
    position: relative;
}

.map-container .dropdown {
    position: absolute;
    top: 10px; 
    right: 10px;
    z-index: 1000;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#enterCreateEventMode {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}