{{> message}}

<head>
    <script src="../../resources/js/calendar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
</head>

<body>
    <h1>Event Calendar</h1>

    <div id="calendar"></div>
</body>