
<div class="container d-flex justify-content-center align-items-center">
    <div class="row w-100">
        <div class="col-6 mx-auto">
            <div id="map" apiKey="{{apiKey}}" markers="{{markers}}"></div>
        </div>
    </div>
</div>