<div class="container d-flex justify-content-center align-items-center">
    <div id="map" apiKey="{{apiKey}}" data-markersAndEvents="{{markersAndEvents}}"></div>
</div>

<body style="background-color: rgb(207, 184, 124);"></body>
<div id="markerModal" class="modal">
    <div class="modal-dialog modal-lg" style="max-width:500px; max-height:12rem">
        <div class="modal-content p-4">
            <h4>Marker Information</h4>
            <form id="markerForm">
                <label for="event_name">Event Name:</label>
                <input type="text" class="form-control" id="event_name" required>

                <label for="event_date">Date:</label>
                <input type="date" class="form-control" id="event_date" required>

                <label for="event_description">Description:</label>
                <textarea class="form-control" id="event_description" required></textarea>

                <label for="event_start">Start Time:</label>
                <input type="time" class="form-control" id="event_start" required>

                <label for="event_end">End Time:</label>
                <input type="time" class="form-control" id="event_end" required>

                <label for="event_location">Location:</label>
                <input type="text" class="form-control" id="event_location" required>

                <label for="event_organizers">Organizers:</label>
                <input type="text" class="form-control" id="event_organizers" required>

                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                <button id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </form>
        </div>
        <div class="modal-footer">
           
        </div>
    </div>
</div>