{{> message}}

<div class="container">
    <form method="POST" action="/register">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" name="username" id="username" placeholder="Username" required>
            <label for="password" class="form-label">Password:</label>
            <input type="text" name="password" id="password" placeholder="Password" required>
            <footer>
                <button type="submit">Submit</button>
            </footer>
        </div>

    </form>
</div>